*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: slateblue !important;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.main{
    background-color: #fff;
    padding: 20px;
}

.main label{
    font-size: 18px;
    font-weight: bold;
}




/* Flip in effect when a new page loads */
@keyframes flipIn {
    from {
        transform: rotateY(90deg);
        opacity: 0;
    }
    to {
        transform: rotateY(0deg);
        opacity: 1;
    }
}

/* Flip out effect when leaving the page */
@keyframes flipOut {
    from {
        transform: rotateY(0deg);
        opacity: 1;
    }
    to {
        transform: rotateY(-90deg);
        opacity: 0;
    }
}

/* Apply flip-in animation when the page loads */
.page-transition {
    animation: flipIn 0.6s ease-in-out;
}

/* Apply flip-out animation when navigating */
.flip-out {
    animation: flipOut 0.6s ease-in-out;
}
